body {

    background-image: linear-gradient(315deg, #414141 0%, #000000 50%);
    height: 100%;
    margin: 2% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'kanoregular';
    color: white;
    padding : 0 2rem;

    

    ul {
        padding:0;
        margin:0;
        list-style-type: none;
    }
  }
