.works {
    animation: fadein 2s;
    text-transform: uppercase;
    letter-spacing: 0.4rem;

    &__link {
        text-decoration: none;
        color: white;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        padding-top: 7rem;

        h2 {
            font-size: 1rem;
        }

        p {
            font-size: 0.7rem;
        }
    }
}
